.myColor1 {
  background-color: #FFD242;
}

.myColor2 {
  background-color: #E8AE3C;
}

.myColor3 {
  background-color: #FFAF4E;
}

.myColor4 {
  background-color: #E8823C;
}

.myColor5 {
  background-color: #FF7342;
}

.myColor6 {
  background-color: #FFD242;
}
